.grid-container {
  width: 100vw;
  padding: 50px;
}

.clue-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.control-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.control-container > div {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.input-text-area {
  width: 50%;
  resize: none;
  margin-bottom: 20px;
}

.control-container > button {
  margin-right: auto;
}
